#termsModal {
  .modal-header {
    button[aria-label="Close"] {
      background: transparent;
      border: none;
      span {
        font-size: 1.5rem;
      }
    }
  }
  .modal-body {
    .form-terms {
      margin: 2% 0 5%;
      .title {
        h3 {
          font-size: 1.5rem;
          text-transform: capitalize;
          font-style: italic;
          text-decoration: underline;
        }
      }
      .content {
        height: 25vh;
        padding: 1rem;
        overflow-y: scroll;
        border: 3px solid #0000006b;
        box-shadow: 1px 1px 4px 2px #0000001a;
      }
      .checkbox {
        padding-left: 2%;
        margin-top: 1%;
        label {
          font-size: 0.9rem;
          font-weight: 600;
          color: #486c94;
          margin-left: 1%;
        }
      }
    }
  }
  .modal-footer{
    width: 100%;
    .alert-terms{
      width: 75%;
    }
    .btn-save{
      width: 25%;
      a{
        width: 100%;
      }
    }
  }
}
