@each $mq in $mqs {
  $mq-value: map-get($breakpoints, $mq);

  @media (min-width: #{$mq-value}) {
    @for $i from 1 through 100 {
      .#{$mq}\:block {
        display: block;
      }
      .#{$mq}\:none {
        display: none;
      }
      .#{$mq}\:inline-block {
        display: inline-block;
      }
      .#{$mq}\:inline {
        display: inline;
      }
      .#{$mq}\:flex {
        display: flex;
      }
      .#{$mq}\:table {
        display: table;
      }
    }
  }
}

