[component="table"] {
  .dt-layout-row {
    &:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;
    }
    .dt-layout-cell {
      .dt-length {
        text-align: end;
        display: flex;
        justify-content: end;
        flex-direction: row-reverse;
        align-items: center;
        select {
          height: 2rem;
          border: 1px solid var(--border-theme);
          border-radius: 10%;
        }
        label {
          text-transform: capitalize;
          margin-right: 1rem;
          font-size: 0.8rem;
        }
      }
      &:nth-of-type(2) {
        width: 25%;
        min-width: 20rem;
        @include mq("sm", max) {
          min-width: auto;
          width: 100%;
        }
        .dt-search {
          display: flex;
          align-items: center;
          @include mq("sm", max) {
            flex-wrap: wrap;
          }
          label {
            font-weight: 500;
            font-family: "Poppins";
            margin-right: 4%;
          }
          input {
            border: 1px solid var(--border-theme);
            height: 2rem;
            padding-left: 1rem;
            border-radius: 4%;
            @include mq("sm", max) {
              width: 100%;
            }
          }
        }
      }
      table {
        thead {
          background: var(--bg-content);
        }
        tbody {
          tr {
            &::nth-child(odd) {
              background-color: var(--bg-theme-light);
            }
            td {
              &.dt-empty {
                text-align: center;
                padding: 4rem 0;
                background-color: var(--bg-dashboard);
              }
              .dots {
                ul {
                  display: none;
                }
                &:hover {
                  ul {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
