[component="tabs"] {
  position: relative;
  overflow: hidden;
  [component="tabs:header"] {
    li {
      &.active {
        color: var(--text-theme);
      }
    }
  }
  [tab-target] {
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
    &.active {
      position: initial;
      z-index: 0;
      visibility: visible;
      opacity: 1;
    }
  }
}
