
// Font families
$font-system: Arial, Helvetica, sans-serif;
$font-sans: "Poppins", sans-serif;
$font-serif: "Playfair Display", serif;

// Font usages
$font-body: $font-sans;
$font-heading: $font-serif;
$font-ui: $font-system;