:root {
  --bg-light: #ffffff;
  --bg-dark: #061138;
  --bg-accent: #d5ae82;
  --bg-muted: #f2f2f2;
  --bg-hover: #c1966c;
  --bg-active: #b3815d;
  --bg-disabled: #f0f0f0;
  --bg-laboratory: #272d38;
}
