:root {
  --bg-light: #ffffff;
  --bg-dark: #061138;
  --bg-theme: #d93030;
  --bg-accent: #d5ae82;
  --bg-accent-light: #f5efdd;
  --bg-muted: #f2f2f2;
  --bg-hover: #c1966c;
  --bg-active: var(--green-200);
  --bg-inactive: var(--gray-200);
  --bg-disabled: #f0f0f0;
  --bg-laboratory: #272d38;
  --bg-dashboard: #eff3f5;
  --bg-content: #f4f6f4;
  --bg-overlay: #00000047;
}
