:root {
  --fill-light: #ffffff;
  --fill-dark: #061138;
  --fill-accent: #d5ae82;
  --fill-muted: #f2f2f2;
  --fill-hover: #c1966c;
  --fill-active: #b3815d;
  --fill-disabled: #f0f0f0;
  --fill-laboratory: #272d38;
}
