:root {
  --outline-light: #ffffff;
  --outline-dark: #061138;
  --outline-accent: #d5ae82;
  --outline-muted: #f2f2f2;
  --outline-hover: #c1966c;
  --outline-active: #b3815d;
  --outline-disabled: #f0f0f0;
  --outline-laboratory: #272d38;
}
