:root {
  --text-light: #ffffff;
  --text-dark: #061138;
  --text-accent: #d5ae82;
  --text-muted: #f2f2f2;
  --text-hover: #c1966c;
  --text-active: #b3815d;
  --text-disabled: #f0f0f0;
  --text-laboratory: #272d38;
}
.text-success{
    color: var(--green-600);
}
.text-danger{
    color: var(--red-600);
}