// base: 1 = 0.25rem (igual ao Tailwind)
$unit: 0.25rem;

// Width classes: w-1 até w-100 (25rem)
@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i * $unit;
  }
}

// Height classes: h-1 até h-100 (25rem)
@for $i from 1 through 100 {
  .h-#{$i} {
    height: $i * $unit;
  }
}

// Height classes: h-1 até h-100 (100vh)
@for $i from 1 through 100 {
  .h-\[#{$i}vh\] {
    height: #{$i}vh;
  }
}
// Height classes: w-[1vw] até w-[100vw] (100vw)
@for $i from 1 through 100 {
  .w-\[#{$i}vw\] {
    width: #{$i}vw;
  }
}