.tooltip_br{
    position: absolute;
    top: -2vw;
    left: 90%;
    width: 11rem;
    background: #fff;
    color: #000;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    box-shadow: 0 0 3px #898989;
    opacity: 0;
    display: none;
    cursor: pointer;
    transition:  opacity 2s ease-in-out;
}

td:hover > .tooltip_br{
    display: block;
    opacity: 1;
}