.forgot-password {
    @include mq("lg", max) {
        width: 95%;
        .forgot-title{
            font-size: var(--heading-lg);
        }
        .forgot-text {
            font-size: var(--font-xxl);
            margin-bottom: 1rem;
        } 
        font-size: var(--heading-sm);
    }
    @include mq("sm", max) {
        .form-icon {
            width: 30%;
        }
        .form-title {
            margin-bottom: 1rem;
        }
        .forgot-title{
            font-size: var(--heading-xs);
        }
        .forgot-text {
            font-size: var(--font-md);
        } 
        font-size: var(--font-md);
    }
}

.content-forgot {
    @include mq("sm", max) {
        width: 100%;
    }
}

.recaptcha {
    @include mq("sm", max) {
        bottom: 18%;
    }
    @include mq("lg", max) {
        bottom: 6.5%;
    }
}
