[component="table"] {
  .checkbox:checked {
    background-color: var(--bg-theme);
    &::after {
      content: "\f26e";
      font-family: bootstrap-icons !important;
      position: absolute;
      top: -5px;
      left: 0px;
      color: #fff;
    }
  }
}
