.alter-password-content {
  @include mq("lg", max) {
    width: 50%;
    .link-login{
      margin-top: 1.5rem;
    }
  }
  @include mq("sm", max) {
    width: 60%;
    .alter-title{
      font-size: var(--heading-lg);
    }
    .alter-text {
      font-size: var(--font-xxl);
    } 
    .validations-password {
      font-size: var(--font-xl);
    }
    font-size: var(--heading-md);
  }

  @include mq("sm", max) {
    .alter-title{
      font-size: var(--heading-xs);
    }
    .alter-text {
      font-size: var(--font-xs);
    } 
    font-size: var(--font-sm);
    }
}
