.register {
  &_development {
    align-items: center;
    min-height: 94vh;

    span.select2 {
      width: 100% !important;
      .select2-selection {
        padding-top: 5px;
      }
    }
    .form-row {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .alread_account {
    a {
      font-size: 0.9rem;
      color: #000;
    }
  }

  .w-5 {
    width: 5%;
  }

  .w-45 {
    width: 45%;
  }

  .w-70 {
    width: 70%;
  }

  [data-target-preview="photo_profile"] {
    height: 8rem;
    object-fit: contain
  }

  .form-terms {
    label{
      font-size: .7rem
    }
  }
}
