.terms{
    .cbtar_content-faixa{
        border: 20px solid #102B52;
    }
    .cbtarco{
        &_development{
            &-terms{
                &-box{
                    margin: 10% 0 4%;
                    @include mq("sm", max){
                        margin: 14% 0 10%;
                    }
                    &-title{
                        margin: 1% 0;
                        h2{
                            font-family: sans-serif;
                            font-weight: 600;
                            @include mq("sm", max){
                                font-size: 1.3rem;
                            }
                        }
                    }
                    &-scrolling{
                        padding: 2%;
                        border: 3px solid #d5d4d5;
                        box-shadow: 0 0 6px #d5d4d5;
                        height: 35vh;
                        overflow-y: scroll;
                        &::-webkit-scrollbar{
                           
                        }
                    }
                    &-checkbox{
                        margin: 2% 0;
                        label{
                            padding-left: 1.5%;
                            padding-top: .5%;
                            @include mq("sm", max){
                                padding-left: 5.5%;
                            }
                            &::before, &::after{
                                width: 1.8rem;
                                height: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}