.checkbox {
  position: relative;
  input {
    height: 16px;
    width: 16px;
    background-color: var(--bg-light);
    border: 1px solid var(--border-accent);
    &:checked {
      background-color: var(--bg-accent);
    }
  }
}
