// Classes de 1 até 100
@for $i from 1 through 100 {
  .border-#{$i} {
    border-width: $i;
  }
  .hover\:border-#{$i}:hover {
    border-width: $i + 0px;
  }
}

// Classes com décimos (1.1 até 9.9)
@for $int from 1 through 9 {
  @for $dec from 1 through 9 {
    .border-\[#{$int}\.#{$dec}\] {
      border-width: $int + ($dec / 10);
    }
  }
}
