@use "sass:map";
/*
** SCREEN-SIZES
*/
$screen-xs : 380px !default;
$screen-sm : 550px !default;
$screen-md : 769px !default;
$screen-lg : 1025px !default; 
$screen-xl : 1200px !default;
$screen-xxl : 1540px !default;

/**
 * Breakpoints 
 */
$breakpoints: (
    'xs': $screen-xs,
    'sm': $screen-sm,
    'md': $screen-md,
    'lg': $screen-lg,
    'xl': $screen-xl,
    'xxl': $screen-xxl
);

/**
 * MEDIA QUERIES
 */

 @mixin mq($width, $type: min) {
    @if map.has-key($breakpoints, $width) {
        $width: map.get($breakpoints, $width);
    }

    @if $type == max {
        $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}

