@for $i from 0 through 100 {
  $value: #{$i + "%"};

  // Todos os lados
  .rounded-#{$i} {
    border-radius: $value;
  }

  // Lados individuais
  .rounded-t-#{$i} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .rounded-r-#{$i} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }

  .rounded-b-#{$i} {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }

  .rounded-l-#{$i} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }
}

// _rounded.scss

$rounded-sizes: (
  xs: 2px,
  sm: 4px,
  md: 6px,
  lg: 8px,
  xl: 12px,
  2xl: 16px
);

@each $name, $value in $rounded-sizes {
  // Todos os lados
  .rounded-#{$name} {
    border-radius: $value;
  }

  // Lados individuais
  .rounded-t-#{$name} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .rounded-r-#{$name} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }

  .rounded-b-#{$name} {
    border-bottom-left-radius: $value;
    border-bottom-right-radius: $value;
  }

  .rounded-l-#{$name} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }
}
